* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;

  h4 {
    margin-bottom: 5px;
  }
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: blue;
}

.linearCirclesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}

.rotateLinearCircleClockwise {
  animation: rotateClockwise 5s linear infinite;
}

.rotateLinearCircleAnticlockwise {
  animation: rotateAntiClockwise 5s linear infinite;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnticlockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
