* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: blue;
}
